{% extends "animemaster/index.html" %} <!-- extending the base template -->   
{% block content %}
    <div>
        <h2>Anime</h2>
        <hr width="100%">
    {% for anime in anime_list %}
    <p>
        {{anime.name}}
        {{anime.genre}}
        {{anime.type}}
        {{anime.episodes}}
        <a href="{% url 'addToList' anime.id %}"><button class="buttonA" value="{{ anime.id }}">Add to List</button></a>
        <br>
        <hr width="100%">
    </p>
    {% endfor %}
    </div>
{% endblock content %}
    

