{% extends "animemaster/index.html" %} <!-- extending the base template -->
{% block content %}
    <div id="am-row" class="row">
        <div id="goto-list" class="col-md-6"> 
            <h2>Check out some Anime/Manga and save them to your list</h2>
            <p>Click on the desired button below to go to the main pages</p> 
            <a href="{% url 'animemaster-anime' %}"><button class="btn btn-outline-primary">Anime</button></a>
            <button class="btn btn-outline-primary">Manga</button>
        </div> 
        <div id="goto-list" class="col-md-6"> 
            <h2>Want to see what you have in your list?</h2>
            <p>Click on the desired button below to go to your lists</p> 
            <a href="{% url 'animemaster-mylist' %}"><button class="btn btn-outline-primary">My Anime List</button></a>
            <button class="btn btn-outline-primary">My Manga List</button>
        </div> 
    </div>
{% endblock content %}