{% extends "animemaster/index.html" %}
{% load static %}
{% block content %}
    <style>
        body {
            background-image: url('{% static "animemaster/photos/animephoto5.jpeg" %}');
        }

        footer {
            background-color: white; 
            padding: 20px 0px 10px;
            color: black;
        }
    </style>
    <div class="mylist-bg">
        <div class="mylist-header"> 
            <h2>{{ user.username }}'s Anime List</h2>
            You currently have {{ list_count }} animes saved in your list. Want more? 
            <a href="{% url 'animemaster-anime' %}"><button class="buttonA" style="float: unset;">Let's Go</button></a>
            <hr width="100%"/>
        </div>
    {% for anime in anime_list %}
        <div class="mylist"> 
            <p style="display: inline;">
                <a href="{% url 'details-media' anime.media_id %}"><i>{{anime.media.name}}</i></a>
                | {{anime.media.genre}} |
                {{anime.media.type}} |
                Episodes: {{anime.media.episodes}} |
                {% if anime.user_status == 'Currently Watching' %}
                   <div id="user-status" style="color: yellow;"> {{ anime.user_status }} </div>
                {% elif anime.user_status == 'Plan to Watch' %}
                   <div id="user-status" style="color: orange;"> {{ anime.user_status }} </div>
                {% elif anime.user_status == 'Already Watched' %}
                   <div id="user-status" style="color: green;"> {{ anime.user_status }} </div>
                {% else %}
                    {{ anime.user_status }}
                {% endif %}
                <a href="{% url 'unlist-media' anime.lid %}"><button class="buttonA" value="{{ anime.lid }}" style="float:right">Remove</button></a> 
                <a href="{% url 'update-mylist' anime.lid %}" style="font-size: small;">Update</a>
                
            </p>
            <p class="time-text">
                {{anime.dateadded}}
                {{anime.timeadded}}
            </p>
            <hr width="100%"/>
            {% empty %}
        
                <h3>{{ user.username }}, looks like your list is empty... (T.T)</h3>
                <br>
                <a href="{% url 'animemaster-anime' %}" class="btn btn-secondary">Go to Anime Catalog</a>
        </div>
    {% endfor %}
    </div>
{% endblock content %}