{% extends "animemaster/index.html" %}
{% block content %}
<div>
    <h2>My Anime List</h2>
    <ul>
{% for anime in anime_list %}
    <li>
        {{anime.name}}
        {{anime.genre}}
        {{anime.type}}
        {{anime.episodes}}
        <a href="{% url 'unlist_media' anime.id %}">(remove)</a>
    </li>

{% empty %}

    <h3>{{ user.username }}, looks like your list is empty... (T.T)</h3>
    <br>
    <a href="{% url 'animemaster/anime.html' %}" class="btn btn-secondary">Go to Anime Catalog</a>

{% endfor %}
    </ul>
</div>

{% endblock content %}